<div class="jumbotron imaPrincipal sombrabottom">
  <h1>Happy Doggie</h1>
  <p>Llevatelos ahora </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 center ">
      <h1>{{dogNam}}</h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12 center ">
      <img src="{{dogImg}}" class="imaPerro sombraImagen">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 center">
      <form class="bgArt center sombraImagen">
        <h1 class="colorBlanco">Precio: ${{dogPrice}}</h1>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 center">
      <strong>Descripción: {{dogDesc}}</strong>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 center">
      <!-- <button type="button" class="btnCom btn btn-warning" (click)="compra() " ngClass[ngClass]="{'colorRed': (usuario.edad > 18)}">Comprar</button> -->
    </div>
  </div>

  <!-- <button (click)="auxPerroArray()">Imprimir Arreglo</button>
 <button (click)="prueba()">Imprimir Arreglo</button> -->

</div>