<ngb-carousel *ngIf="arre" class="sombrabottom">
  <ng-template ngbSlide>
    <img [src]="arre[1].image" class="imaCarruse" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Solo para Perros</h3>
      <p></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="arre[0].image" class="imaCarruse" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="arre[2].image" class="imaCarruse" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="arre[3].image" class="imaCarruse" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="arre[4].image" class="imaCarruse" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="arre[5].image" class="imaCarruse" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="arre[6].image" class="imaCarruse" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
<div class="container center-block">
  <h5>Lo mas nuevo</h5>
  <hr>
  <div class="row ">
    <div class="col-sm-3 center">
      <img src="http://via.placeholder.com/220x130" class="img-fluid sombraImagen" />
      <br>
      <strong>Perro volador</strong>
      <br>
      <small>Este Perro es un maestro control del aire</small>
      <br>
      <button type="button" class="btn btn-dark" (click)="navegarArticulo()">Clikc</button>

    </div>
    <div class="col-sm-3 colorVerde center">
      <img src="http://via.placeholder.com/220x130" class="img-fluid sombraImagen">
      <br>
      <strong>Perro nadador</strong>
      <br>
      <small>Este Perro es nadador</small>
      <br>
      <button type="button" class="btn btn-dark">Clikc</button>
    </div>
    <div class="col-sm-3 center">
      <img src="http://via.placeholder.com/220x130" class="img-fluid sombraImagen">
      <br>
      <strong>Perro ingeniero</strong>
      <br>
      <small>Este Perro es un ingeniero en sistemas</small>
      <br>
      <button type="button" class="btn btn-dark">Clikc</button>
    </div>
    <div class="col-sm-3 center">
      <img src="http://via.placeholder.com/220x130" class="img-fluid sombraImagen">
      <br>
      <strong>Perro licenciado</strong>
      <br>
      <small>Este Perro es un licenciado</small>
      <br>
      <button type="button" class="btn btn-dark">Clikc</button>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row ">
    <div class="col-sm-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>